*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#000;
    color:#fff;
    font-family:Arial, sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 6%;
    background:#000;
    border-bottom:1px solid #222;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:55px;
}

.logo h2{
    font-size:22px;
}

.logo span{
    color:#f5c400;
    font-size:12px;
    letter-spacing:2px;
}

nav{
    display:flex;
    gap:30px;
    align-items: center;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:600;
}


nav a.active{
    color:#f5c400;
}

nav .project{
    color: #ffc107;
    background-color: #ffffff;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
}
.hero{
    text-align:center;
    padding:80px 20px 40px;
}

.hero p{
    color:#f5c400;
    letter-spacing:3px;
    margin-bottom:15px;
}

.hero h1{
    font-size:90px;
}

.hero span{
    color:#f5c400;
}

.hero h3{
    margin-top:10px;
    font-weight:400;
    color:#ccc;
}

.filters{
    display:flex;
    justify-content:center;
    gap:15px;
    flex-wrap:wrap;
    padding:30px;
}

.filter-btn{
    padding:12px 25px;
    border:2px solid #f5c400;
    background:transparent;
    color:white;
    border-radius:50px;
    cursor:pointer;
}

.filter-btn.active{
    background:#f5c400;
    color:black;
}

.projects-grid{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
    padding-bottom:80px;
}

.project-card{
    border:1px solid #f5c400;
    border-radius:15px;
    overflow:hidden;
    background:#111;
    transition:.4s;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px rgba(245,196,0,.5);
}

.project-card img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.content{
    padding:18px;
}

.content h3{
    margin-bottom:10px;
}

.content p{
    color:#f5c400;
    margin-bottom:20px;
}

.btns{
    display:flex;
    gap:10px;
}

.btns button,
.btns a{
    flex:1;
    text-align:center;
    padding:10px;
    border:1px solid #f5c400;
    background:transparent;
    color:white;
    border-radius:30px;
    text-decoration:none;
    cursor:pointer;
}

.btns button:hover,
.btns a:hover{
    background:#f5c400;
    color:black;
}

.popup{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.9);
    display:none;
    justify-content:center;
    align-items:center;
    z-index:2000;
}

.popup.active{
    display:flex;
}

.popup img{
    max-width:80%;
    max-height:80vh;
    border-radius:10px;
}

.close-btn{
    position:absolute;
    top:20px;
    right:40px;
    font-size:40px;
    cursor:pointer;
}

@media(max-width:992px){

    .projects-grid{
        grid-template-columns:repeat(2,1fr);
    }

    .hero h1{
        font-size:60px;
    }
}

@media(max-width:600px){

    .navbar{
        gap:20px;
    }

    nav{
        flex-wrap:wrap;
        justify-content:center;
    }

    .projects-grid{
        grid-template-columns:1fr;
    }

    .hero h1{
        font-size:45px;
    }
    .hero {
    text-align: center;
    padding: 40px 20px;
}

}


.menu-toggle{
    display:none;
    font-size:35px;
    color:#f5c400;
    cursor:pointer;
    z-index:1001;
}

@media(max-width:768px){

    .navbar{
        position:relative;
        padding:15px 20px;
    }

    .menu-toggle{
        display:block;
    }

    nav{
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#000;
        flex-direction:column;
        align-items:center;
        gap:25px;
        padding:30px 0;
        display:none;
        border-top:1px solid #222;
    }

    nav.active{
        display:flex;
    }

    nav a{
        font-size:18px;
    }
}